@use '../../assets/styles/variables.scss' as var;
@use '../../assets/styles/utils/mixins.scss' as mix;

.productsPage {
  padding: 0 32px;
  margin-top: 80px;

  @include mix.tablet {
    padding: 0 24px;
    margin-top: 40px;
  }

  @include mix.mobile {
    padding: 0 16px;
    margin-top: 24px;
  }
}

.title {
  margin-bottom: 4px;
}

.count {
  margin-bottom: 24px;
}

.controls {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;

  @include mix.mobile {
    flex-direction: column;
  }
}

.control {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.controlLabel {
  font-size: 12px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @include mix.tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mix.mobile {
    grid-template-columns: 1fr;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
