@import '../../assets/styles/utils/mixins.scss';
@import '../../assets/styles/variables.scss';

.banner {
  display: grid;
  grid-template-columns: 1fr 32px 32px;
  grid-template-areas:
    'h2 prev next'
    'slider slider slider';
  column-gap: 16px;
  row-gap: 28px;

  h2 {
    grid-area: h2;
    margin: 0;
    color: $icons-color;
  }

  .js-prev,
  .js-next {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $slider-border-color;
    cursor: pointer;
  }

  .js-prev {
    grid-area: prev;
    justify-self: end;
  }
  .js-next {
    grid-area: next;
    justify-self: end;
  }

  &__slider {
    grid-area: slider;
    overflow: hidden;
  }
}
