@use '../../../../assets/styles/variables.scss' as var;
@use '../../../../assets/styles/utils/mixins.scss' as *;

.numberButton {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var.$border-radius-sm;

  @include text-style(14px, 21px, 500, 0);

  border: 1px solid var.$secondary-color;
  background: var.$white;
  color: var.$primary-color;

  transition: border 0.2s, background 0.2s, color 0.2s, opacity 0.2s;

  &:hover:not(:disabled) {
    border-color: var.$primary-color;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.selected {
  background: var.$icons-color;
  color: var.$white;
  border: 1px solid var.$icons-color;
}
