.numberButton {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;

  border: 1px solid #B4BDC4;
  background: white;
  color: black;

  transition: border 0.2s, background 0.2s, color 0.2s, opacity 0.2s;

  &:hover {
    border-color: black;
  }

  &.selected {
    background: #313237;
    color: white;
    border: 1px solid #313237;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
