@use '../../assets/styles/variables.scss' as *;
@use '../../components/common/typography/typography.scss' as *;

$col: 32px;
$gut: 16px;

@function grid-width($n) {
  @return ($n * $col) + (($n - 1) * $gut);
}

.container {
  max-width: 1136px;
  margin: 0 auto;
  padding: 40px 0;
}

.title {
  width: 100%;
  margin: 0 0 40px 0;
  text-align: left;
}

.mainContent {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0;
}

.gallery {
  display: flex;
  gap: $gut;
  width: grid-width(12) + $gut;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: grid-width(2);

  .thumbnail {
    width: 80px;
    height: 80px;
    border: 1px solid $elements-color;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    &Active {
      border-color: $primary-color;
    }
  }
}

.mainImage {
  width: grid-width(10);
  height: 464px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.infoPanel {
  margin-left: grid-width(1) + $gut;
  width: grid-width(7);
  flex-shrink: 0;
}

.itemId {
  @extend .small-text;
  color: $secondary-color;
  width: grid-width(4);
  margin-left: $gut;
  text-align: right;
  padding-top: $spacing-xs;
  flex-shrink: 0;
}

.optionSection {
  margin-bottom: 24px;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: $elements-color;
    margin-top: 24px;
  }
}

.smallTextSecondary {
  @extend .small-text;
  color: $secondary-color;
  margin-bottom: $spacing-sm;
}

.colorOptions,
.capacityOptions {
  display: flex;
  gap: $spacing-sm;
}

.purchaseSection {
  margin-top: 32px;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  margin-bottom: 16px;

  .price {
    margin: 0;
  }

  .oldPrice {
    @extend h2;
    font-weight: $font-regular;
    color: $secondary-color;
    text-decoration: line-through;
  }
}

.actions {
  display: flex;
  gap: $spacing-sm;
  margin-bottom: 32px;
}

.specsShort {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.specLine {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .smallTextPrimary {
    @extend .small-text;
    color: $primary-color;
  }
}

.detailsSection {
  display: flex;
  padding: 80px 0 0;
}

.aboutBlock {
  width: grid-width(12);

  h3 {
    margin-bottom: 16px;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $elements-color;
      margin-top: 16px;
    }
  }
}

.descriptionItem {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  h4 {
    margin-bottom: 16px;
  }

  p {
    @extend .body-text;
    color: $secondary-color;
  }
}

.techSpecsBlock {
  margin-left: grid-width(1) + $gut;
  width: grid-width(11);

  h3 {
    margin-bottom: 16px;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: $elements-color;
      margin-top: 16px;
    }
  }

  .specsList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
  }
}
