.roundButton {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #f7e5d1;
  border: 1px solid #b4bdc4;

  transition:
    border 0.2s,
    background 0.2s,
    opacity 0.2s;

  &:hover {
    border-width: 2px;
    border-color: #8e8e93;
  }

  &.selected {
    border: 2px solid black;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
