.chevronButton {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
  border-radius: 6px;
  border: 1px solid black;

  transition: border 0.2s, color 0.2s, opacity 0.2s;

  &:hover {
    border-width: 2px;
  }

  &:disabled {
    border-color: #B4BDC4;
    color: #B4BDC4;
    opacity: 0.6;
    cursor: not-allowed;
  }

  .icon {
    width: 16px;
    height: 16px;
  }

  .iconLeft {
    transform: rotate(180deg);
  }
}
