@use '../../../assets/styles/variables.scss' as *;
@use '../../common/typography/typography.scss' as *;

.menu {
  position: absolute;
  box-sizing: border-box;
  top: 49px;
  left: -100%;
  height: calc(100vh - 49px);
  width: 100%;

  background: $white;
  display: flex;
  flex-direction: column;

  transition: left 0.3s ease;
  z-index: 1000;
}

.open {
  position: absolute;
  left: 0;
}


.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-xl;
  margin-top: $spacing-xl;
}

.navLink {
  position: relative;
  text-decoration: none;
  color: $secondary-color;

  transition: color 0.2s ease;

  &:hover {
    color: $primary-color;
  }
}

.active {
  color: $primary-color;

  &::after {
    content: '';
    position: absolute;
    bottom: -$spacing-sm;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $primary-color;
    ;
  }
}

.bottom {
  margin-top: auto;
  display: flex;
  height: 64px;
  border-top: 1px solid $elements-color;
}

.bottomButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid $elements-color;
  position: relative;
  bottom: 0;
}

.iconWrapper {
  position: relative;
  width: $spacing-md;
  height: $spacing-md;
}

.iconWrapper svg {
  width: $spacing-md;
  height: $spacing-md;
}

.activeIcon {
  &::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $primary-color;
  }
}

.badge {
  position: absolute;
  top: -7px;
  right: -7px;

  min-width: 14px;
  height: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $error-color;
  color: $white;
  font-size: 9px;
  border-radius: 50%;
}
