@use '../../assets/styles/variables.scss' as *;
@use '../../components/common/typography/typography.scss' as *;
@use '../../assets/styles/utils/mixins.scss' as *;

.card {
  box-sizing: border-box;
  padding: 32px;
  border: 1px solid $elements-color;
  display: flex;
  flex-direction: column;
  color: $icons-color;
  min-height: 547px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mobile {
    min-height: 563px;
  }
}
.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8px;

  .titleLink {
    margin-top: 24px;
    align-self: flex-start;
  }

  .imageLink {
    width: min-content;
    height: 234px;
  }
}

.options {
  border-top: 1px solid $elements-color;
  margin-top: 8px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;

  &:nth-child(3) {
    margin-bottom: 8px;
  }

  .label {
    color: $secondary-color;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.prices {
  display: flex;
  gap: 8px;
}

.price {
  color: $secondary-color;
  text-decoration: line-through;
}
