@use '../../assets/styles/variables.scss' as *;
@use '../../components/common/typography/typography.scss' as *;
@use '../../assets/styles/utils/mixins.scss' as *;

.card {
  box-sizing: border-box;
  padding: $spacing-xl;
  border: 1px solid var(--border-color);
  display: flex;
  width: 272px;
  flex-direction: column;
  min-height: 547px;
  display: flex;
  flex-direction: column;
  color: $icons-color;
  justify-content: space-between;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $spacing-sm;

  .titleLink {
    margin-top: $spacing-lg;
    align-self: flex-start;
  }

  .imageLink {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: contain;
  }
}

.options {
  border-top: 1px solid $elements-color;
  margin-top: $spacing-sm;
  padding: $spacing-sm 0;
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-sm;

  &:nth-child(3) {
    margin-bottom: $spacing-sm;
  }

  .label {
    color: $secondary-color;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  height: 40px;

  .cartButton {
    width: 160px;
  }
}

.prices {
  display: flex;
  gap: $spacing-sm;
}

.price {
  color: $secondary-color;
  text-decoration: line-through;
}
