@use '../../assets/styles/variables.scss' as *;
@use '../../components/common/typography/typography.scss' as *;

.product-card {
  box-sizing: border-box;
  padding: 32px;
  width: 272px;
  height: 506px;
  border: 1px solid $elements-color;
  display: flex;
  flex-direction: column;
  color: $icons-color;

  &__link {
    box-sizing: border-box;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    p {
      margin-top: 24px;
    }
  }

  &__image {
    width: min-content;
  }

  &__price {
    margin-top: 8px;

    &::before {
      content: '$';
    }
  }
}

.product-options {
  border-top: 1px solid $elements-color;
  margin-top: 8px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  justify-content: space-between;

  &:nth-child(3) {
    span {
      margin-bottom: 8px;
    }
  }

  span {
    margin-top: 8px;
  }

  .small-text {
    color: $secondary-color;
  }
}
