@use '../../../../assets/styles/variables.scss' as var;
@use '../../../../assets/styles/utils/mixins.scss' as *;

.primaryButton {
  border-radius: var.$border-radius-sm;

  @include text-style(14px, 21px, 600, 0.05em, uppercase);

  padding: 10px 61px;

  transition: all 0.2s;

  background: var.$icons-color;
  color: var.$white;
  border: 1px solid transparent;

  &:hover:not(:disabled):not(.selected) {
    background: var.$primary-color;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.selected {
  background: var.$white;
  color: var.$success-color;
  border: 1px solid var.$elements-color;
}
