@use '../../../../assets/styles/variables.scss' as var;
@use '../../../../assets/styles/utils/mixins.scss' as *;

.primaryButton {
  border-radius: var.$border-radius-sm;

  @include text-style(14px, 21px, 600, 0.05em);
  transition: all 0.2s;
  // should change hardcode width
  width: 160px;
  @include tablet {
    width: 125px;
  }
  @include mobile {
    width: 100px;
  }

  background: var.$icons-color;
  color: var.$white;
  border: 1px solid transparent;

  &:hover:not(:disabled):not(.selected) {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.selected {
  background: var.$white;
  color: var.$success-color;
  border: 1px solid var.$elements-color;
}
