.primaryButton {
  border-radius: 6px;

  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  padding: 10px 61px;

  transition: all 0.2s;

  background: #313237;
  color: white;
  border: 1px solid transparent;

  &:hover {
    background: #4a4a4a;
  }

  &.selected {
    background: white;
    color: #51ba7d;
    border: 1px solid #d1d5da;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
