@use '../../assets/styles/variables.scss' as var;
@use '../../assets/styles/utils/mixins.scss' as mix;

.about {
  padding: var.$spacing-xxl var.$spacing-lg;
  color: var.$primary-color;
  display: flex;
  flex-direction: column;
  gap: var.$spacing-xl;

  h1 {
    @include mix.text-style(32px, 1.2, var.$font-bold);
    text-align: center;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: var.$spacing-lg;
  }

  h2 {
    @include mix.text-style(24px, 1.3, var.$font-semibold);
    padding-bottom: var.$spacing-xs;
    text-align: center;
  }
}

.repoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var.$spacing-sm;

  padding: var.$spacing-md var.$spacing-lg;
  background: var.$primary-color;
  color: var.$white;
  max-width: 220px;
  margin: 0 auto;
  border-radius: var.$border-radius-sm;
  transition: var.$transition-default;

  &:hover {
    opacity: 0.85;
  }
}

.team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var.$spacing-lg;

  @include mix.tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mix.mobile {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: var.$spacing-md;

  border: 1px solid var.$elements-color;
  padding: var.$spacing-lg;
  border-radius: var.$border-radius-md;

  transition: var.$transition-default;

  &:hover {
    border-color: var.$yellow;
    transform: translateY(-5px);
  }

  h3 {
    @include mix.text-style(19px, 1.3, var.$font-semibold);
  }

  p {
    @include mix.text-style(15px, 1.4, var.$font-regular);
    color: var.$secondary-color;
  }
}

.github {
  display: flex;
  align-items: center;
  gap: var.$spacing-sm;
}
