@use '../../assets/styles/variables.scss' as *;

.page {
  position: relative;
  padding: 0 $spacing-xl;
  margin-top: $spacing-lg;
  margin-bottom: $spacing-big;
  min-height: 400px;

  .cartPage {
    display: flex;
    gap: $spacing-xl;
  }

  .cartTitle {
    margin-top: $spacing-md;
    margin-bottom: $spacing-sm;
  }

  .cartItems {
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $spacing-md;
  }

  .cartSummary {
    flex: 1;
    border: 1px solid $elements-color;
    padding: $spacing-lg;
    height: fit-content;
    background-color: $white;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  .totalAmount {
    text-align: center;
    font-weight: $font-bold;
    font-size: 32px;
    line-height: 41px;
  }

  .emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    .emptyImage {
      width: 200px;
      height: 200px;
      object-fit: contain;
    }

    .emptyMessage {
      color: $secondary-color;
      font-size: 15px;
      font-weight: 600;
      margin-top: $spacing-md;
    }
  }

  .totalItems {
    text-align: center;
    color: $secondary-color;
    padding-bottom: $spacing-sm;
    border-bottom: 1px solid $elements-color;
  }

  .checkout {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: $spacing-md;
  }

  .checkoutBtn {
    padding: $spacing-md;
    width: 100%;
    background-color: $primary-color;
    color: $white;
    border: none;
    border-radius: $border-radius-md;
    cursor: pointer;
    font-size: 16px;
    font-weight: $font-semibold;
    transition: $transition-default;

    &:hover {
      opacity: 0.85;
    }
  }
}

@media (max-width: $tablet) {
  .page .cartPage {
    flex-direction: column;
  }
}
