@use '../../assets/styles/variables.scss' as *;

.page {
  padding: 0 $spacing-xl;
  margin-top: $spacing-lg;
  margin-bottom: $spacing-big;


  .cartPage {
    display: flex;
    gap: $spacing-xl;

  }

  .cartTitle {
    margin-top: $spacing-md;
    margin-bottom: $spacing-sm;
  }

  .cartItems {
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $spacing-md;
  }

  .cartSummary {
    flex: 1;
    border: 1px solid $elements-color;
    padding: $spacing-lg;
    height: fit-content;
    background-color: $white;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  .totalAmount {
    text-align: center;
    font-weight: $font-bold;
    font-size: 32px;
    line-height: 41px;
  }

  .totalItems {
    text-align: center;
    color: $secondary-color;
    padding-bottom: $spacing-sm;
    border-bottom: 1px solid $elements-color;
  }

  .checkout {
    display: flex;
    justify-content: center;
    height: $spacing-xxl;
    width: 100%;
  }

  .checkoutBtn {
    margin-top: $spacing-md;
    padding: $spacing-md;
    background-color: $primary-color;
    color: $white;
    border: none;
    border-radius: $border-radius-md;
    cursor: pointer;
    font-size: 16px;
    font-weight: $font-semibold;
    transition: $transition-default;

    &:hover {
      opacity: 0.85;
    }
  }

  .cartEmpty {
    font-size: 20px;
    text-align: center;
    padding: $spacing-xxl;
    color: $secondary-color;
  }
}

@media (max-width: $tablet) {
  .cartPage {
    flex-direction: column;
  }

  .cartItems {
    flex: 1;
  }

  .cartSummary {
    flex: 1;
  }
}

@media (max-width: $mobile) {
  .page {
    padding: 0 $spacing-md;
    margin-top: $spacing-lg;
    margin-bottom: 56px;

    .cartPage {
      padding: $spacing-md;
      gap: $spacing-lg;
    }

    .cartTitle {
      margin-left: $spacing-sm;
    }

    .cartItems {
      margin-bottom: $spacing-xl;
    }

    .cartSummary {
      margin-top: $spacing-lg;
    }
  }
}
