@use '../../assets/styles/variables.scss' as *;
@use '../../components/common/typography/typography.scss' as *;
@use '../../assets/styles/utils/mixins.scss' as *;

.header {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: $white;
  border-bottom: 1px solid $elements-color;
  position: sticky;
  top: 0;
  z-index: 1100;
}

.logoContainer {
  margin-right: $spacing-lg;
  margin-left: $spacing-lg;
}

.nav {
  display: flex;
  gap: 64px;
  margin-right: $spacing-lg;
  margin-left: $spacing-lg;
  flex-grow: 1;
}

.navLink {
  position: relative;
  text-decoration: none;
  color: $secondary-color;

  transition: color 0.2s ease;

  &:hover {
    color: $primary-color;
  }
}

.active {
  color: $primary-color;

  &::after {
    content: '';
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $primary-color;
  }
}

.buttons {
  display: flex;
  align-items: center;
}

.iconButton {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  background: $white;
  border: none;
  border-left: 1px solid $elements-color;
  text-decoration: none;
  position: relative;

  svg {
    width: $spacing-md;
    height: $spacing-md;
  }
}

.activeIcon {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $primary-color;
  }
}

.badge {
  position: absolute;
  top: 17px;
  right: 17px;

  min-width: 13px;
  height: 13px;
  padding: 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $error-color;
  color: $white;
  border: 1px solid $white;

  font-size: 9px;
  font-weight: $font-semibold;

  border-radius: 50%;
}

@include tablet {
  .header {
    height: $spacing-xxl;
  }

  .logoContainer {
    margin-right: $spacing-md;
    margin-left: $spacing-md;
  }

  .logoContainer img {
    height: 22px;
  }

  .nav {
    gap: $spacing-xl;
    margin-right: $spacing-md;
    margin-left: $spacing-md;
  }

  .iconButton {
    width: $spacing-xxl;
    height: $spacing-xxl;

    svg {
      width: $spacing-md;
      height: $spacing-md;
    }
  }

  .active::after {
    bottom: -18px;
  }

  .badge {
    top: 9px;
    right: 9px;
  }
}

.burger {
  display: none;
  width: $spacing-xxl;
  height: $spacing-xxl;
  align-items: center;
  justify-content: center;
  border: none;
  border-left: 1px solid $elements-color;
  background: $white;
}

@include mobile {
  .nav {
    display: none;
  }

  .buttons {
    display: none;
  }

  .logoContainer {
    flex-grow: 1;
  }

  .burger {
    display: flex;
  }
}
