.pagination {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 0;

  li:first-child {
    margin-right: 8px;
  }

  li:last-child {
    margin-left: 8px;
  }
}
