@use '../../../assets/styles/variables.scss' as *;

.switcher {
  color: var(--text-color);
  font-weight: $font-semibold;
  transition: color 0.2s ease;

  &:hover {
    color: $secondary-color;
  }
}
