.arrowButton {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  font-size: 14px;
  font-weight: 500;

  color: #a0a5aa;
  transition: color 0.2s;

  &:hover {
    color: #2c2c2c;
    font-weight: 700;
  }

  &:disabled {
    color: #b4bdc4;
    cursor: not-allowed;

    .arrowIcon {
      color: #b4bdc4;
    }
  }

  .arrowIcon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    color: black;
  }
}
