@use './assets/styles/variables.scss' as *;

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.theme-light {
  background-color: $white;
  color: $icons-color;
}

.theme-dark {
  background-color: $theme-dark-bg;
  color: $theme-dark-color;
}

.main {
  flex: 1;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  @media (min-width: 640px) {
    padding: 0;
  }

  @media (min-width: 1200px) {
    padding: 0;
  }
}
