.heartButton {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
  border-radius: 6px;
  border: 1px solid #e2e6e9;

  transition:
    border 0.2s,
    opacity 0.2s;

  &:hover {
    border-width: 2px;
    border-color: black;
  }

  &.selected {
    border: 1px solid #e2e6e9;

    .icon {
      color: #e74c3c;
      fill: #e74c3c;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .icon {
    width: 20px;
    height: 20px;
    color: black;
    transition:
      color 0.2s,
      fill 0.2s;
  }
}
